.main {
  flex: 1;
  background-color: var(--highlight-light-gray);
  padding: 40px 0;
}

.main-title {
  font-family: 'Markazi Text', serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-description {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
