@font-face {
  font-family: 'Markazi Text';
  src: url('../assets/fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700; /* Intervallo dei pesi supportati */
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700; /* Intervallo dei pesi supportati */
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700; /* Intervallo dei pesi supportati */
  font-style: italic;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', serif;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 16px;
}
